<% content_for :head do %>
  <%= javascript_import_module_tag "react/react_examples/lists_and_keys" %>
<% end %>

<div class="p-4">
  <div class="border">
    <div class="p-2">
      <div class="text-grey-600">

        <h1 class="font-semi-bold text-3xl border-b">
          Lists and Keys
        </h1>

        <div class="py-4 my-2">
          <h1 class="font-semi-bold text-2xl">
            Part 1-  Rendering Multiple Components
          </h1>
          <div id="listsAndKeysRoot"></div>
        </div>

        <hr>

        <div class="py-4 my-2">
          <h1 class="font-semi-bold text-2xl">
            Part 2- Basic List Component
          </h1>
          <div id="listsAndKeysRoot2"></div>
        </div>

        <hr>

        <div class="py-4 my-2">
          <h1 class="font-semi-bold text-2xl">
            Part 3- Extracting Components with Keys
          </h1>
          <div id="listsAndKeysRoot3"></div>
        </div>

        <hr>

        <div class="py-4 my-2">
          <h1 class="font-semi-bold text-2xl">
            Part 4- Keys Must Only Be Unique Among Siblings
          </h1>
          <div id="listsAndKeysRoot4"></div>
        </div>

        <hr>

        <div class="py-4 my-2">
          <h1 class="font-semi-bold text-2xl">
            Part 5-  Embedding map() in JSX (Files are converting to HTM)
          </h1>
          <div id="listsAndKeysRoot5"></div>
        </div>

      </div>
    </div>
  </div>
</div>
