<% content_for :head do %>
<%= javascript_import_module_tag "react/react_examples/state_and_lifecycle" %>
<% end %>

<div class="p-4">
  <div class="border">
    <div class="p-2">
      <div class="text-grey-600">
        <h1 class="font-semi-bold text-3xl border-b">
          React App - State and Life Cycle
        </h1>
        <div class="py-4 text-2xl mt-2">
          <div id="stateAndLifeCycleRoot"></div>
        </div>
      </div>
    </div>
  </div>
</div>
