<% content_for :head do %>
  <%= javascript_import_module_tag "vue_components/second_vue_component" %>
<% end %>

<div class="p-4">
  <div class="border">
    <div class="p-2">
      <div class="text-grey-600">
        <h1 class="font-semi-bold text-3xl border-b">
          Second Vue - reverse string onClick
        </h1>
        <div id="app-2" class="py-4 text-2xl mt-2">
          <p> {{ message }} </p>
          <button v-on:click="reverseMessage" class="h-10 px-5 text-emerald-500 transition-colors duration-150 border border-emerald-500 rounded-lg focus:shadow-outline hover:bg-emerald-500 hover:text-white">
            Reverse Message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
