<% content_for :head do %>
<%= javascript_import_module_tag "react_components/second_react_component" %>
<% end %>

<div class="p-4">
  <div class="border">
    <div class="p-2">
      <div class="text-grey-600">
        <h1 class="font-semi-bold text-3xl border-b">
          Second React Component - Clock
        </h1>
        <div class="py-4 text-2xl mt-2">
          <div id="secondReactComponent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
