<% content_for :head do %>
  <%= javascript_import_module_tag "vue_components/first_vue_component" %>
<% end %>

<div class="p-4">
  <div class="border">
    <div class="p-2">
      <div class="text-grey-600">
        <h1 class="font-semi-bold text-3xl border-b">
          First Vue - for loop through todos
        </h1>
        <div id="app-1" class="py-4 text-2xl mt-2">
          <ol>
            <li v-for="todo in todos">
              <span class="text-2xl">
                {{ todo.text }}
              </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
