<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
    <%= yield :head %>
  </head>

  <header>
    <%= render "shared/nav_bar" %>
  </header>

  <body>
    <%#= render "shared/rails_logo"%>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
